<!DOCTYPE html>
<html>
<head>
   <title>GRZYBIARZE</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   {% include 'snippets/header.html' %}


   

</head>
<body>
    <!--body-->
    <style type="text/css">
        .main{
            min-height: 100vh;
            height: : 100%;
        }    
    .footer{
        min-height: 100%;
    }
       body{
        background-color: #F8F8FF
    }
    </style>
    <div class = "main">
        {% block content %}

        {% endblock content %}
    </div>
    <!--endbody-->
</body>
<footer>
    

</style>

<div class = "d-flex">
    <p class = "m-auto">Filip Szpunar</p>
</div>

</footer>
</html>