{% extends 'base.html' %}
{% load static %}


{% block content %}
<style type = "text/css">
  @media (max-width: 768px){
    .right-column{
      margin-left: 0px;
    }
  }
  @media (min-width: 768px){
    .right-column{
      margin-left: 20px;
    }
  }
  .blog-post-container{
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%
  }
  .create-post-bar{
    background-color: #fff;
    margin-bottom: 20px;
  }
  .left-column{
    padding: 0px;
  }
  .right-column{
    padding: 0px;
  }
  .lead{
    font-size:17px;
  }
</style>


<div class="container">
  
  <div class = "row">
    <!--blog feed-->
    <div class="left-column col-lg-7 offset-lg-1">
      <div class="d-lg-none mb-3">
        <div class = "card m-auto d-flex flex-column p-3">
          <img class = "img-fluid d-block m-auto pb-2" src = "{% static 'logo.jpg'%}" width="72" height="72">
          <p class = "lead">LOREMSASDFASFDFDAFSDFFDSDSFDFSSDFFSDSDFSDsd</p>
          <p class = "m-auto">
            <a class = "btn btn-primary" href = "{% url 'grzyb:create' %}"> Utwórz post</a>
          </p>
        </div>
      </div>
      <!-- koniec tworzenia postu-->
      {% if blog_posts %}
        {% for post in blog_posts %}

          <div class = "blog-post-container">
            {% include 'grzyb/snippets/grzyb_post_snippet.html' with blog_post=post %}        
          </div>
        {% endfor %}
      {% else %}
        <div class = "blog-post-container">
          {% include 'grzyb/snippets/grzyb_post_snippet.html' with query=query %}        
        </div>
      {% endif %}
    </div>
      <!--utwórz post-->
    <div class="right-column col-lg-3 d-lg-flex d-none flex-column">
      <div class = "card create-post-bar d-flex flex-column p-3">
        <img class="img-fluid d-block m-auto pb-2 "src = "{% static 'logo.jpg'%}"
          width="72" height="72">
        <p class = "lead">LOREMSASDFASFDFDAFSDFFDSDSFDFSSDFFSDSDFSDsd</p>
        <p class = "m-auto">
          <a class = "btn btn-primary" href = "{% url 'grzyb:create' %}"> Utwórz post</a>
        </p>
      </div>
      <div class = "card create-post-bar d-flex flex-column p-3">
        <a class="weatherwidget-io" href="https://forecast7.com/pl/50d0722d23/lancut/" data-label_1="Łańcut" data-label_2="Pogoda" data-theme="original" >Łańcut Pogoda</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
        
      </div>
       <div class = "card create-post-bar d-flex flex-column p-3">
        <h5>Aktualna mapa grzybów</h5>
        <img class="img-fluid d-block m-auto pb-2 "src = "{% static 'mapa.png' %}">
         
      </div>
    </div>

  </div>
</div>
    

{% endblock content %}
